@model KuaförRandevuSistemi.Models.User

<div class="container mt-4">
    <h1 class="mb-4">Hesap Ayrıntıları</h1>
    <table class="table table-striped">
        <tr>
            <th>İsim:</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Soyisim:</th>
            <td>@Model.Surname</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>@Model.Email</td>
        </tr>
    </table>

    <a href="/Account/UpdateInfo" class="btn btn-primary">Hesap Bilgilerini Güncelle</a>
    <a href="/" class="btn btn-primary">Anasayfaya Dön</a>
</div>