@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1 class="mb-4">Bize Ulaşın</h1>

    <!-- Salon Contact Information -->
    <div class="row mb-5">
        <div class="col-md-4">
            <h4>Adresimiz</h4>
            <p>Esentepe Mahallesi Akademiyolu Sokak 5-15<br>Türkiye/Sakarya/Serdivan</p>
        </div>
        <div class="col-md-4">
            <h4>Email Adresimiz</h4>
            <p><a href="mailto:info@hairsalon.com">info@hairsalon.com</a></p>
        </div>
        <div class="col-md-4">
            <h4>Telefon Numaramız</h4>
            <p><a href="tel:+905000000000">0554 540 5454</a></p>
        </div>
    </div>
</div>
