
<link href="/css/carousel.css" rel="stylesheet">

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/main1.jpg" class="d-block w-100" alt="Slide 1">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Salon Kuaför'e Hoşgeldiniz'</h1>
                    <p>Güzellik ve konforun tadını çıkarın.</p>
                    <p><a class="btn btn-lg btn-primary" href="/Account/SignUp">Şimdi Kaydol</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/main2.jpg" class="d-block w-100" alt="Slide 2">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Yüksek Kalite Servisler</h1>
                    <p>Alanında uzman çalışanlarımız sizi başka biri yapacak.</p>
                    <p><a class="btn btn-lg btn-primary" href="/Home/Services">Ayrıntılar</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/main3.jpg" class="d-block w-100" alt="Slide 3">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Tıraş Olmadan Size Yakışanı Bulun</h1>
                    <p>Son teknoloji yapay zekamız yardımıyla tıraş olmadan kendinizde deneyin.</p>
                    <p><a class="btn btn-lg btn-primary" href="/AI/UploadImage">AI'a git</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container marketing mt-5">
    <div class="row">
        <div class="col-lg-4">
            <h2>Alanında Yetkin Çalışanlar</h2>
            <p>ÖnemsizBerber ödüllü çalışanlarımız ile üstün hizmet sunuyoruz.</p>
        </div>
        <div class="col-lg-4">
            <h2>Mutlu Müşteriler</h2>
            <p>Dünya çapında ünlülerinde içinde bulunduğu müşterilerimizden birisi olun.</p>
        </div>
        <div class="col-lg-4">
            <h2>Samimi Ortam</h2>
            <p>Samimi çalışanlarımız ve güler yüzlülüğümüzle kendinizi evinizde hissedin.</p>
        </div>
    </div>
</div>