html,
body {
  height: 100%;
}

.form-sigin {
    max-width: 400px;
    padding: 15px;
    background-color: #f8f9fa; /* Light background for the form */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for form */
}

.d-flex.align-items-start {
    margin-top: 150px; /* Adjust this value for a better position */
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
